In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
import pandas as pd

data = [[1, 2], [4, 5], [7, 8]]
index = ['cobra', 'viper', 'sidewinder']
columns = ['max_speed', 'shield']

df = pd.DataFrame(data, index=index, columns=columns)

In [3]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [4]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [5]:
df.loc['viper', 'shield']

5

In [7]:
df.loc['cobra':'sidewinder', 'shield']

cobra         2
viper         5
sidewinder    8
Name: shield, dtype: int64

In [8]:
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [9]:
pd.Series([False, True, False], index=['viper', 'sidewinder', 'cobra'])

viper         False
sidewinder     True
cobra         False
dtype: bool

In [10]:
df.loc[pd.Series([False, True, False], index=['viper', 'sidewinder', 'cobra'])]

            max_speed  shield
sidewinder          7       8

In [11]:
df.loc[pd.Index(['cobra', 'viper'], name='foo')]

       max_speed  shield
foo
cobra          1       2
viper          4       5